@page
@model RagnarokGasolin.Pages.Gasolin.GasolinModel
@{
    ViewData["Title"] = "Gasolin";
}
<h1>@ViewData["Title"]</h1>

<p>Bandmedlemmer</p>
<div id="bandMembers"></div>

<a asp-page-handler="AddArtists"></a>

<ul>
    <iframe src="https://www.youtube.com/embed/PoHwxGFGj3s?si=RPJayMzGS4NkDrCK" style="float: right; margin-right: 0px; height: 17vw; width: 30vw; position: absolute;"></iframe>
    @foreach (Card card in Model.artists.cards)
    {
        <div class="card" style="width: 18rem; height: 25rem; float: left; color: white; border-color: rgb(20, 20, 20); margin-right: 2vw; margin-bottom: 30px;">
            <img class="card-img-top" src="~/img/@card.ImgPath" alt="@card.ImpAltText">
            <div class="card-body" style="background-color: rgb(20, 20, 20);">
                <h5 class="card-title">@card.Title</h5>
                <p class="card-text">@card.Description</p>
                <a href="@card.LinkPath" class="btn btn-primary">@card.ButtonText</a>
            </div>
        </div>
    }
</ul>
@* <script src="../js/Gasolin.js"></script> *@