@page
@model RagnarokGasolin.Pages.Gasolin.GasolinModel
@{
    ViewData["Title"] = "Gasolin";
}
<h1>@ViewData["Title"]</h1>

<p>Bandmedlemmer</p>
<div id="bandMembers"></div>
<iframe id="drInterview"></iframe>
@* <ul>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-page="/Gasolin/KimLarsen">Kim Larsen</a>
    </li>
</ul> *@

<a asp-page-handler="AddArtists"></a>

<ul>
    @* @for (var i = 0; i < Model.GetArtists().Count; i++) *@
    @foreach (Card card in Model.artists.cards)
    {
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="@card.ImgPath" alt="@card.ImpAltText">
            <div class="card-body">
                <h5 class="card-title">@card.Title</h5>
                <p class="card-text">@card.Description</p>
                <a href="@card.LinkPath" class="btn btn-primary">@card.ButtonText</a>
            </div>
        </div>
    }
</ul>
@* <script src="../js/Gasolin.js"></script> *@