@page
@using RagnarokGasolin.Models
@model RagnarokGasolin.Pages.Gasolin.GasolinModel
@{
    ViewData["Title"] = "Gasolin";
}
<body>
    <div class="col">
        <div class="row">


    <div class="container text-center">
        <div class="row" style="margin-bottom: 75px">
            <div class="col-6">
                <a> <img class="img-fluid" src="~/img/@Model.BandMember.ImgPath" /></a>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col">
                        <h1>
                            <a> <img class="img-fluid" src="~/img/@Model.BandMember.Name" /></a>
                        </h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p class="description">
                            @Model.BandMember.Description
                        </p>
                    </div>
                </div>
            </div>

        </div>

    </div>
        </div>
        <div class="row">
    <h1>@ViewData["Title"]</h1>

    <h4>Bandmedlemmer</h4>

    <ul>
        <div class="col">
            @foreach (Card card in Model.artists.cards)
            {
                <div class="card" style="width: 18rem; height: 25rem; float: left; color: white; border-color: rgb(20, 20, 20); margin-right: 2vw; margin-bottom: 30px;">
                    <img class="card-img-top" src="~/img/@card.ImgPath" alt="@card.ImpAltText">
                    <div class="card-body" style="background-color: rgb(20, 20, 20);">
                        <h5 class="card-title">@card.Title</h5>
                        <p class="card-text">@card.Description</p>
                        <a href="@card.LinkPath" class="btn btn-primary" style="position: absolute; bottom: 20px;">@card.ButtonText</a>
                    </div>
                </div>
            }
        </div>
        <div class="col">
                        <iframe src="https://www.youtube.com/embed/PoHwxGFGj3s?si=RPJayMzGS4NkDrCK" style="float: right; margin-right: 0px; height: 17vw; width: 30vw; position: absolute;"></iframe>
        </div>
    
        
    </ul>

        </div>
        <div class="row">
    <!-- #region Timeline -->
    <form method="get">
        @foreach (TimelineInfo timelineInfo in Model.BandMember.TimelineInfo)
        {
            <div class="timeline">
                @if (timelineInfo.IsRight)
                {
                    <div class="timeline-component timeline-date-parent">
                        <div class="timeline-date-r timeline-date-right">
                            @timelineInfo.Date
                        </div>
                    </div>

                    <div class="timeline-middle">
                        <div class="timeline-point"></div>

                    </div>
                    <div class="timeline-component timeline-component-bg">
                        <h2>
                            @timelineInfo.Title
                        </h2>
                        <p class="timeline-paragraph">
                            @timelineInfo.Description
                        </p>

                    </div>
                }
                else
                {
                    <div class="timeline-component timeline-component-bg">
                        <h2>
                            @timelineInfo.Title
                        </h2>
                        <p class="timeline-paragraph">
                            @timelineInfo.Description
                        </p>

                    </div>
                    <div class="timeline-middle">
                        <div class="timeline-point"></div>
                    </div>
                    <div class="timeline-component timeline-date-parent">
                        <div class="timeline-date-l timeline-date-left">
                            @timelineInfo.Date
                        </div>
                    </div>
                }
            </div>
        }
    </form>

    <!-- #endregion -->
        </div>
    </div>
</body>
